[Desktop Entry]

# The type as listed above
Type=Application

# The name of the application
Name=emacsclient

# # The path to the folder in which the executable is run
Path=/run/current-system/profile/bin

# The executable of the application, possibly with arguments.
Exec=emacsclient

# Describes whether this application needs to be run in a terminal or not
Terminal=false

